body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    border: none;
    padding: 18px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;

}